@media only screen and (max-width: 1441px) { 
    .objectives__card {
        width: 40rem;
        height: 85rem;
    }

    .project-card {
        width: 25rem;
        height: 30rem;
    }

    .features__card {
        width: 34rem;
        height: 65rem;
        margin: 3rem;
    }

    .features__card__text {
        padding: 0px 1rem;
    }
}


@media only screen and (max-width: 1200px) {

    html {
        font-size: 55%;
    }

    .project-card {
        margin: 5rem;
    }

    .europe-flag {
        display: none;
    }

    .footer__socialmedia {
        margin-right: 2.5rem;
        margin-bottom: 2rem;
    }

    .footer_project_name {
        display: flex;
    justify-content: center;
    font-size: 4rem;
    margin-bottom: 3rem;
    }

    .footer--button {
        justify-content: center;
    }

    .footer_socialmedia-list {
        justify-content: center;
    }

    .footer-box {
        height: 25rem;
        border-right: none;
        border-bottom: 1px solid #707070;
    }
}

@media only screen and (max-width: 1023px) {
    html {
        font-size: 49%;
    }

    .header__heading-box { 
        width: 100%;
    }

    .project-card {
        width: 25rem;
    }

    .features__card__image--img { width: 14rem; }

    .features__card__image, .objectives__card__image {
        margin: 4rem 0 2rem 0;
    }

    .features__card {
        width: 30rem;
        height: 68rem;
    }

    .features__card__text {
        font-size: 2rem;
    }

    .project-list {
        margin-top: 0;
    }
 }

 @media only screen and (max-width: 767px) {
    html {
        font-size: 47%;
    }

    li.tab {
        display: none!important;
    }

    .project-card {
        width: 22rem;
    }

    .features__card {
        width: 50rem;
        height: 50rem;
    }

    .features__card__text {
        font-size: 2.3rem;
    }

    .objectives__card {
        width: 60rem;
        height: 75rem;
    }

    .footer-mobile {
        text-align: center;
    }

    
 }

 @media only screen and (max-width: 480px) {

    .features__list, .objectives__list, .project-list {
        margin-top: 3rem;
    }


    .features__card__image, .objectives__card__image {
        margin: 3rem 0 2rem 0;
    }

    .features__card__text {
        padding: 0 1rem;
    }

    .objectives__card__image--img {
        width: 14rem;
    }

    .objectives__card__text {
        padding: 0 1rem 0 1rem;
    }

    .project-info div.row {
        display: flex;
    }


    .objectives__card {
        width: 40rem;
        height: 90rem;
    }

    .features__card {
        width: 40rem;
        height: 60rem;
    }
 }